rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /customers/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /jobs/{jobId} {
      allow read: if request.auth != null && request.auth.uid == resource.data.customerUid;
      allow write: if isAdmin();
    }

    function isAdmin() {
      return request.auth != null && request.auth.token.email in [
        "admin1@admin.com",
        "admin2@admin.com"
      ];
    }
  }
} 